<?php if (!defined('BASEPATH')) exit('No direct script access allowed');
return array(
  'components' => array(
    'db' => array(
      'connectionString' => 'pgsql:host={{ limesurvey_db_host }};port={{ limesurvey_db_port }};user={{ limesurvey_db_user }};password={{ limesurvey_db_password }};dbname={{ limesurvey_db_name }};',
      'emulatePrepare' => true,
      'username' => '{{ limesurvey_db_user }}',
      'password' => '{{ limesurvey_db_password }}',
      'charset' => 'utf8',
      'tablePrefix' => 'lime_',
    ),

    'session' => array (
      'sessionName'=>'LS-{{ limesurvey_session_name_id }}'
    ),
    'request' => array(
      'hostInfo' => '{{ limesurvey_http_proto }}://{{ limesurvey_domain }}',
    ),	
    'urlManager' => array(
      'urlFormat' => 'path',
      'rules' => array(
      ),
      'showScriptName' => false,
    ),

  ),

  'config'=>array(
    'debug' => 0,
    'debugsql'=>0,
{% if limesurvey_webserver_auth %}
    'auth_webserver_autocreate_user' => true,
    'auth_webserver_autocreate_profile' => Array('full_name' => $_SERVER['{{ limesurvey_webserver_auth_full_name }}'],'email' => $_SERVER['{{ limesurvey_webserver_auth_mail }}'],'lang'=>'fr'),
    'auth_webserver_autocreate_permissions' => Array('surveys' => array('create'=>true,'read'=>false,'update'=>true,'delete'=>false)),
{% endif %}
  )
);
/* End of file config.php */
/* Location: ./application/config/config.php */
